/*
    Document   : webtv
    Created on : 11-feb-2012, 11.22.25
    Author     : Tony
    Description:
        Purpose of the stylesheet follows.
*/




#box_coupon_field
{
    border-style: solid;
    border-color: gray;
    height: 50px !important;
    width: 500px;
    font-size:28px;
    font-family:  serif;
    padding: 5px;
    background-color: #9BAEC8;

    -moz-border-radius:5px 5px 5px 5px;


}

#box_coupon
{
    width: 100%;
    padding:  25px !important;
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {
    #box_coupon_container, #box_coupon{
        width: 100%;
        height: unset !important;
    }
    #box_coupon_field
    {
        width: unset !important;
        box-sizing: border-box !important;
        font-size:20px !important;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px)  and (max-device-width: 667px){
    #box_coupon_container, #box_coupon{
        width: 100%;
        height: unset !important;
    }

    #box_coupon_field
    {
        width: unset !important;
        box-sizing: border-box !important;
        font-size:20px !important;
    }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    #box_coupon_container, #box_coupon{
        width: 100%;
        height: unset !important;

    }

    #box_coupon_field
    {
        width: unset !important;
        box-sizing: border-box !important;
        font-size:20px !important;
    }
}
/* ----------- iPad 1, 2, Mini and Air ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #box_coupon_container, #box_coupon{
        width: 100%;
        height: unset !important;
    }

    #box_coupon_field
    {
        width: unset !important;
        box-sizing: border-box !important;
        font-size:28px !important;
    }
}
/* ----------- Samsung S8 ----------- */
@media screen and (device-width: 360px) and (device-height: 740px) {
    #box_coupon_container, #box_coupon{
        width: 100%;
       height: unset !important;

    }

    #box_coupon_field
    {
        width: unset !important;
        box-sizing: border-box !important;
        font-size:20px !important;
    }
}
/* ----------- Google Nexus 6 ----------- */
@media screen and (device-width: 412px) and (device-height: 732px) {
    #box_coupon_container, #box_coupon{
        width: 100%;
        height: unset !important;

    }

    #box_coupon_field
    {
        width: unset !important;
        box-sizing: border-box !important;
        font-size:20px !important;
    }
}

/*---------Galaxy fold ---------*/
@media screen and (device-width: 280px) and (device-height: 653px) {
    #box_coupon_container, #box_coupon{
        width: 100%;
        height: unset !important;

    }

    #box_coupon_field
    {
        width: unset !important;
        box-sizing: border-box !important;
        font-size:16px !important;
    }
}

#box_coupon_container{
    height: 400px;
    width: 100%;
}


#button_conferma_codice {
    height: 50px !important;
    width: 200px;
    border-radius: 7px !important;
}

#waiting_verifica_codice{

    display: none;
    float:left;
    position: relative;
    height: 50px;
    width: 400px;

}

#report{
    padding-left: 25px;
    height: 50px;
}
