.main {
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    padding: 10px;
    /*color: deeppink !important;*/
}

form[name=generaCouponForm]{
    padding:20px 100px;
}


#btn-genera{
    padding: 10px !important;
    line-height: 1;
    vertical-align: middle;
    height: 45px !important;
}


@media (max-width: 768px) {

    /*.item-container {*/

        /*display: flex;*/
        /*flex-direction: column;*/

    /*}*/

}

