.mc-main {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

}

.mc-main > div.filtri {
    flex: 0;
    border: 1px solid grey;
    border-right: none;
    min-width: 300px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.mc-main > div.data {
    flex: 1;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#coupon-table {
    padding: 10px;
}


.button-page.active {
    color: white;
    background-color: #325482;
}


#btn_monitora_coupon {

    text-align: center;
}


#no-data-msg {
    display: none;
}


h5 {
    text-align: center;
}

.expired{
    color: indianred;
}



#modalMail {
    z-index: 12002 !important;
}

#modalMail > .modal-dialog {
 width: 549px;
margin: 30px auto;
}

#modalMail > .modal-dialog {
    width: 549px;
    margin: 30px auto;
}

#btn_invia_coupon {
    margin-bottom:2px !important;
    background-color: #51a351 !important;
    color:white !important;
    border-color:#51a351 !important;
}


#btn_invia_coupon:not(:disabled):not(.disabled) {
    cursor: pointer !important;;
}
#btn_invia_coupon:hover {
    color: #51a351 !important;
    background-color:transparent !important;
    border-color: #1e7e34 !important;
}
#btn_invia_coupon:focus, #btn_invia_coupon:hover {
    text-decoration: none;
}




