.mc-main {
    display: flex;
    flex-direction: row;

}

.mc-main > div.filtri {
    flex: 0;
    border: 1px solid grey;
    border-right: none;
    min-width: 300px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.mc-main > div.data {
    flex: 1;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#coupon-table{
    padding: 10px;
}


.button-page.active{
    color:white ;
    background-color: #325482;
}


#btn_monitora_coupon {

    text-align: center;
}


#no-data-msg {
    display: none;
}


h5 {
    text-align: center;
}

@media (max-width: 768px) {


}

