h6 , h5{
    text-align: center;
    margin: auto auto;
}


.mc-main {

    min-height: 600px;
    font-size: smaller;
}


.form-inline .form-group {
    margin: 5px;
    width: 90%;
}

.k-dropdown {
    width: 100%;
}




