/*.valueTableReport{*/
/*text-align: center !important;*/
/*}*/

input {
    height: 28px !important;
}

.btn {
    height: 28px !important;
}

.button {
    cursor: pointer;
}

.form-inline .form-group {
    margin-bottom: 20px !important;
}

#barrafiltri {
    width: 300px;
    min-height: 750px !important;
    float: left;
    position: relative;
    height: 100%;


}

.modal-body {
    overflow: auto;
}

.modal {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none;
}

.width100 {
    width: 250px;
}

a.command-edit {
    padding: 5px 24px;
    min-width: 30px;
    margin: 3px;
    line-height: normal;

}


.grid-container {
    /*height: 100%;*/
    /*overflow-x: scroll;*/
    /*min-height: 790px !important;*/
}


#contenitoreprincipale {
    overflow-x: scroll;
    height: 100%;
    /*min-height: 750px !important;*/

}


/*spinner */
#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(163, 165, 168, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }


}


#cover-spin::after {

    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: #325482;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

#details {

    z-index: 100000 !important;
    width: 40%;

}
