/*.valueTableReport{*/
/*text-align: center !important;*/
/*}*/

input {
    height: 28px !important;
}

.btn {
    height: 28px !important;
}

.button {
    cursor: pointer;
}

.form-inline .form-group {
    margin-bottom: 20px !important;
}

#barrafiltri {
    width: 300px;
    min-height: 750px !important;
    float: left;
    position: relative;
    height: 100%;


}

.modal-body {
    overflow: auto;
}

.modal {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none;
}

.width100 {
    width: 250px;
}

a.command-edit {
    padding: 5px 24px;
    min-width: 30px;
    margin: 3px;
    line-height: normal;

}


.grid-container {
    /*height: 100%;*/
    /*overflow-x: scroll;*/
    /*min-height: 790px !important;*/
}


#contenitoreprincipale {
    overflow-x: scroll;
    height: 100%;
    /*min-height: 750px !important;*/

}
