#grid {
    font-size: smaller;
}

#grid .k-grid-header .k-header {
    text-align: center;

}

/*header text*/
#grid .k-link {
    color: #325482 !important;
    font-size: medium;

    font-weight: bold
}

th.k-header {
    font-weight: bold !important;
    color: #325482 !important;
    font-size: medium !important;
}
.g-content {
    padding: 0 !important;
}


.glyphicon-remove {
    color: red !important;
}


.glyphicon-ok {
    color: #79dc79 !important;
}


.glyphicon-log-in {
    color: #325482 !important;
}



.k-grid-button {
    min-width: 45px;
    background-color: #325482;
    color: white;
}

.k-grid-button:hover {
    background-color: white;
    color: #325482;
}

.k-grid-button:active {
    background-color: white;
    color: #325482;
}


.k-detail-cell {
    -webkit-box-shadow: -10px 0px 19px -6px rgba(112, 110, 112, 0.69);
    -moz-box-shadow: -10px 0px 19px -6px rgba(112, 110, 112, 0.69);
    box-shadow: -10px 0px 19px -6px rgba(112, 110, 112, 0.69);
}

.scaduto{
    color: indianred;
}

.k-grid-Reset.k-button{
    background-color: red;
    color: white;

}


.k-grid-Elimina.k-button{
    background-color: red;
    color: white;

}


.k-confirm .k-window-titlebar::before {
    content: 'Sei sicuro?';
}

.k-confirm .k-window-titlebar .k-dialog-title {
    visibility:collapse;
}

.coupon-confirm{
    font-family: monospace;
    font-weight: bold;
    font-size: larger;
}
