#grid {
    font-size: smaller;
}

#grid .k-grid-header .k-header
{
       text-align: center;

}

/*header text*/
#grid .k-link {
    color: #325482!important;
    font-size: medium;

    font-weight: bold;
}

#grid .k-filtercell{
    width: 110%;
}


.g-content {

    padding: 0 !important;
}


.glyphicon-remove {
    color: red !important;
}


.glyphicon-ok {
    color: #79dc79  !important;
}


.glyphicon-log-in {
    color: #325482!important;
}

.k-grid-attestato {

    background-color: #428BCA;
    color: white;
}


.k-grid-attestato:hover {

    background-color: white;
    color: #428BCA;
}

.k-grid .k-detail-cell {
    padding: 0;
}




